<!DOCTYPE html>
<html lang="en">

<head>
  <% var page = " Dermatology"%>
  <% include ../../partials/header/head.ejs %>
</head>

<body>

  <!-- Header -->
  <% include ../../partials/header/nav.ejs %>
  <!-- /Header -->

  <!-- Hero-area -->
  <div class="hero-area section">

    <!-- Backgound Image -->
    <div class="bg-image bg-parallax overlay" style="background-image:url(./img/dermatology.jpg)"></div>
    <!-- /Backgound Image -->

    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
          <ul class="hero-area-tree">
            <li><a href="/">Home</a></li>
            <li><a href="/hospital">Hospital Services</a></li>
            <li><a href="/dmt">Dermatology</a></li>
            <!-- <li>General Surgery</li> -->
          </ul>
          <h1 class="white-text"> Dermatology</h1>
          <ul class="blog-post-meta">
            <!-- <li class="blog-meta-author">By : <a href="#">John Doe</a></li>
						<li>18 Oct, 2017</li>
						<li class="blog-meta-comments"><a href="#"><i class="fa fa-comments"></i> 35</a></li> -->
          </ul>
        </div>
      </div>
    </div>

  </div>
  <!-- /Hero-area -->

  <!-- Blog -->
  <div id="blog" class="section">

    <!-- container -->
    <div class="container">

      <!-- row -->
      <div class="row">

        <!-- main blog -->
        <div id="main" class="col-md-9">

          <!-- blog post -->
          <div class="blog-post">
            <p>
              We at the department of DVL are committed to provide excellent patient care through various diagnostic and therapeutic facilities available in our department. We run speciality clinics to provide special care to a sub-category of patients. We provide phototherapy services to patients all days of the week. With the help of state government PHC, we have started registering leprosy cases and supplying MDT to leprosy patients. We have conducted several programmes such as CMEs to upgrade our knowledge and implement latest techniques learnt through them to improve care to Insured Persons. We also conduct Patent Awareness Programmes on the speciality clinics days which gives an opportunity for patients to update their knowledge about their diseases in detail, clarify their doubts, interact with counsellors and other patients. With further encouragement we assure you that we are committed to provide other facilities that were not being given till date on par with corporate hospitals. 
            </p>
            <p>OPD is run daily under one unit comprising of One Associate professor, one Specialist, one Assistant professor, one senior resident and two junior residents</p>
            <p>Minor procedures are performed daily PRP is done every Thursday and other diagnostic procedures are performed as and when required</p>
            <p>LIST OF SPECIALITY CLINICS RUN BY THE DEPARTMENT</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.	LEPROSY CLINIC- EVERY TUESDAY</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.	PSORIASIS CLINIC- EVERY WEDNESDAY</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.	VITILIGO CLINIC- EVERY THURSDAY</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.	STD CLINIC- EVERYDAY</p>
            <p>FACILITIES PROVIDED BY THE DEPARTMENT</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a)OUT PATIENT CARE: The department caters to outdoor patients daily from 09:00 am to 04:00 pm.The &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;following facilities are available for patients</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--Treatment of all kinds of skin diseases</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--Treatment of diseases of Hair and Nail</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--Treatment of sexually transmitted diseases</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--Diagnosis & Treatment of leprosy</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--Treatment of Vitiligo, Psoriasis & Eczema</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b)DIAGNOSTIC TESTS: </p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--Biopsies</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--Scrapings from skin, hair clippings and nail clippings for fungal elements</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--Demonstration of scabies mite</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--Cytology</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--Diagnosis pertaining to leprosy (slit skin smear and Ziehl Nielsen’s staining) </p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--Diagnosis pertaining to Sexually Transmitted Infections (wet mount, Gram’s stain)</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c)PROCEDURES PERFORMED:</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--Radio frequency cautery</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--Intra lesional steroid injections</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--Chemical cautery</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--Platelet Rich Plasma therapy </p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--Acne scar surgeries</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--Iontophoresis</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--UVA & NBUVB Phototherapy</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--Nail avulsions: surgical and chemical</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--Vitiligo surgeries</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;d)IN PATIENT CARE: Services are provided to patients who are</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--Systemically unstable because of skin disease</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--Need detailed evaluation of their disease</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--Treatment must be given under supervision</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--Injections of biologics are given where indicated</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--Our indoor patient department also has facility for day care treatment for some of the indications.</p>
            <p>FUTURE PLAN OF ACTION:</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.	TO ESTABLISH SIDE LAB TO DIAGNOSE COMMON SKIN DISEASES</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.	TO ESTABLISH MINOR OT, DERMATOSURGERY UNIT</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.	TO RUN OTHER SPECIALITY CLINICS LIKE VESICULO BULLOUS CLINIC, HAIR CLINIC, URTICARIA &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CLINIC, CONTACT DERMATITIS CLINIC </p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.	TO START DERMATOSCOPY AND TRICHOSCOPY</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.	TO PROVIDE MESOTHERAPY</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6.	TO PROVIDE ENHANCEMENT THERAPY LIKE BOTOX,FILLERS</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7.	TO START ALLERGY CLINIC AND PATCH TESTING FACILITY</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8.	TO PROVIDE LASER SERVICES FOR HAIR REMOVAL, CORRECTION OF SCARS, PIGMENTATION AND OTHER &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;COSMETOLOGY PROCEDURES</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9.	TO ESTABLISH ART CENTRE IN ASSOCIATION WITH PSM AND GENERAL MEDICINE, PULMONOLOGY, OBG, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PEDIATRICS</p>
            <p>LIST OF EQUIPMENT PRESENT:</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.	RADIOFREQUENCY CAUTERY MACHINE</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.	IONTOPHORESIS MACHINE</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.	CRYO GUN</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.	WOOD’S LAMP</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.	WHOLE BODY PHOTOTHERAPY UNIT</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6.	MULTI-UTILITY PHOTOTHERAPY UNIT</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7.	LIGHT MICROSCOPE WITH DARK GROUND CONDENSER</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8.	LIGHT MICROSCOPE</p>
            <!-- <p>An aeterno percipit per. His minim maiestatis consetetur et, brute tantas iracundia id sea. Vim tota
              nostrum
              reformidans te. Nam ad appareat mediocritatem, mediocrem similique usu ex, scaevola invidunt eu sed.</p>
            <p>Reque admodum praesent ei nec. Ad eius phaedrum conclusionemque cum, pri cu suas essent saperet. No vero
              ludus
              habemus qui. Per ex errem torquatos, eam in tale sumo mentitum. Cum nulla viderer no. Pri id antiopam
              volutpat
              evertitur, in vidit interpretaris nec.</p>
            <p>Te option apeirian corrumpit nec, has et tollit minimum molestie. Nam et justo everti, tale repudiandae
              cu
              nec. Aliquip legendos evertitur ne sit, mazim sadipscing sea ei. Sea no facete probatus vulputate, ex pri
              reque
              tempor. Odio adolescens ius te, docendi suscipit indoctum at qui.</p>
            <blockquote>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            </blockquote>
            <p>An aeterno percipit per. His minim maiestatis consetetur et, brute tantas iracundia id sea. Vim tota
              nostrum
              reformidans te. Nam ad appareat mediocritatem, mediocrem similique usu ex, scaevola invidunt eu sed.</p>
            <p>Reque admodum praesent ei nec. Ad eius phaedrum conclusionemque cum, pri cu suas essent saperet. No vero
              ludus
              habemus qui. Per ex errem torquatos, eam in tale sumo mentitum. Cum nulla viderer no. Pri id antiopam
              volutpat
              evertitur, in vidit interpretaris nec.</p>
            <p>Te option apeirian corrumpit nec, has et tollit minimum molestie. Nam et justo everti, tale repudiandae
              cu
              nec. Aliquip legendos evertitur ne sit, mazim sadipscing sea ei. Sea no facete probatus vulputate, ex pri
              reque
              tempor. Odio adolescens ius te, docendi suscipit indoctum at qui.</p> -->
            <br>
            <a class="main-button icon-button" href="/gallery?qtag=Dermatology">View our Gallery</a>
          </div>
          <!-- /blog post -->

          <!-- blog share -->
          <div class="blog-share">
            <h4>Share This Post:</h4>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
          </div>
          <!-- /blog share -->

          <!-- blog comments -->
          <!-- <div class="blog-comments">
						<h3>5 Comments</h3> -->

          <!-- single comment -->
          <!-- <div class="media">
							<div class="media-left">
								<img src="./img/avatar.png" alt="">
							</div>
							<div class="media-body">
								<h4 class="media-heading">John Doe</h4>
								<p>Cu his iudico appareat ullamcorper, at mea ignota nostrum. Nonumy argumentum id cum, eos adversarium
									contentiones id</p>
								<div class="date-reply"><span>Oct 18, 2017 - 4:00AM</span><a href="#" class="reply">Reply</a></div>
							</div> -->

          <!-- comment reply -->
          <!-- <div class="media">
								<div class="media-left">
									<img src="./img/avatar.png" alt="">
								</div>
								<div class="media-body">
									<h4 class="media-heading">John Doe</h4>
									<p>Cu his iudico appareat ullamcorper, at mea ignota nostrum. Nonumy argumentum id cum, eos adversarium
										contentiones id</p>
									<div class="date-reply"><span>Oct 18, 2017 - 4:00AM</span><a href="#" class="reply">Reply</a></div>
								</div>
							</div> -->
          <!-- /comment reply -->

          <!-- comment reply -->
          <!-- <div class="media">
								<div class="media-left">
									<img src="./img/avatar.png" alt="">
								</div>
								<div class="media-body">
									<h4 class="media-heading">John Doe</h4>
									<p>Cu his iudico appareat ullamcorper, at mea ignota nostrum. Nonumy argumentum id cum, eos adversarium
										contentiones id</p>
									<div class="date-reply"><span>Oct 18, 2017 - 4:00AM</span><a href="#" class="reply">Reply</a></div>
								</div>
							</div> -->
          <!-- /comment reply -->

          <!-- </div> -->
          <!-- /single comment -->

          <!-- single comment -->
          <!-- <div class="media">
							<div class="media-left">
								<img src="./img/avatar.png" alt="">
							</div>
							<div class="media-body">
								<h4 class="media-heading">John Doe</h4>
								<p>Cu his iudico appareat ullamcorper, at mea ignota nostrum. Nonumy argumentum id cum, eos adversarium
									contentiones id</p>
								<div class="date-reply"><span>Oct 18, 2017 - 4:00AM</span><a href="#" class="reply">Reply</a></div>
							</div>
						</div> -->
          <!-- /single comment -->

          <!-- blog reply form -->
          <!-- <div class="blog-reply-form">
							<h3>Leave Comment</h3>
							<form>
								<input class="input name-input" type="text" name="name" placeholder="Name">
								<input class="input email-input" type="email" name="email" placeholder="Email">
								<textarea class="input" name="message" placeholder="Enter your Message"></textarea>
								<button class="main-button icon-button">Submit</button>
							</form>
						</div> -->
          <!-- /blog reply form -->

          <!-- </div> -->
          <!-- /blog comments -->
        </div>
        <!-- /main blog -->

        <!-- aside blog -->
        <% include ../../partials/tags-services %>
        <!-- /aside blog -->

      </div>
      <!-- row -->

    </div>
    <!-- container -->

  </div>
  <!-- /Blog -->

  <!-- Footer -->
  <% include ../../partials/footer/footer.ejs %>
</body>

</html>