<!DOCTYPE html>
<html lang="en">

<head>
  <% var page = "E N T"%>
  <% include ../../partials/header/head.ejs %>
</head>

<body>

  <!-- Header -->
  <% include ../../partials/header/nav.ejs %>
  <!-- /Header -->

  <!-- Hero-area -->
  <div class="hero-area section">

    <!-- Backgound Image -->
    <div class="bg-image bg-parallax overlay" style="background-image:url(./img/ENT.jpg)"></div>
    <!-- /Backgound Image -->

    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
          <ul class="hero-area-tree">
            <li><a href="/">Home</a></li>
            <li><a href="/hospital">Hospital Services</a></li>
            <li><a href="/ent">E N T</a></li>
            <!-- <li>General Surgery</li> -->
          </ul>
          <h1 class="white-text">E N T</h1>
          <ul class="blog-post-meta">
            <!-- <li class="blog-meta-author">By : <a href="#">John Doe</a></li>
						<li>18 Oct, 2017</li>
						<li class="blog-meta-comments"><a href="#"><i class="fa fa-comments"></i> 35</a></li> -->
          </ul>
        </div>
      </div>
    </div>

  </div>
  <!-- /Hero-area -->

  <!-- Blog -->
  <div id="blog" class="section">

    <!-- container -->
    <div class="container">

      <!-- row -->
      <div class="row">

        <!-- main blog -->
        <div id="main" class="col-md-9">

          <!-- blog post -->
          <div class="blog-post">
            <p>The Department of ENT started its functionality in February 2016 in ESIC Medical College Hospital premises, 3rd Floor, OPD Block. Since the day of Inception it has gradually expanded its services with 24 X 7 OPD and emergency care.  All ENT surgeries are done free of cost to the ESIC insured persons and their family members.</p>
            <p>SERVICES OFFERED BY THE DEPARTMENT OF  ENT :</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--OP SERVICES:</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1)	 Otoscopic examinations</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2)	Diagnostic and Therapeutic Nasal Endoscopies</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3)	DNE and cleaning for post operative cases ( all Nasal Surgeries ) </p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4)	Video laryngoscope examination for vocal cord assessment and to identify mass lesions in Oropharynx , &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Supra glottis, Glottis, Hypopharynx.</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5)	Flexible Laryngoscopic Evaluations</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6)	Minor OT procedures like I&D, keloid excision, intra tympanic drug administration, post operative nasal &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;synechiae release, Ear lobe repair.  </p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7)	Endoscopic removal of foreign bodies in  Ear, Nose and throat.</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8)	Biopsies of Oral cavity, Oro-pharyngeal, Supraglottic and Hypopharyngeal lesions under endoscopic &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;guidance. </p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9)	Post operative suture removal and wound care </p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10) Suction clearance of ear discharge /ear wax/ impacted foreign bodies /Otomycosis / Keratosis obturans</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--AUDIOLOGY SERVICES :</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hearing assessment by Audiometry ( pure tone and impedance ). </p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Neonatal hearing screening  ( OAE and BERA )</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--EMERGENCY SERVICES:</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1)	Emergency tracheostomies for patients with stridor due to laryngeal lesions and upper airway &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;obstruction.</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2)	ELECTIVE TRACHEOSTOMY for ICU patients </p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3)	TRACHEOSTOMY care for medical ward and ICU patients.</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4)	Emergency Hypopharyngoscopy - Oesophagoscopy and Bronchoscopy for ingested and aspirated &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;foreign bodies respectively.</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5)	Emergency procedures like Endoscopic cauterisation / Sphenopalatine artery ligation for uncontrolled &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Epistaxis.</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6)	Emergency drainage procedures for Ludwigs angina, Nasal Vestibulitis, Peritonsillar abscess, and deep &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;neck space infections like Parapharyngeal and Retropharyngeal abcess.</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7)	Emergency FESS for complications of sinusitis like Orbital cellulitis, Orbital apex syndrome and &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;endoscopic debridement for invasive fungal sinuitis and nasal mucormycosis.</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--Operation Theatre – Surgeries  :</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Regular - Tympanoplasty, mastoidectomy,
              Ossicle reconstruction surgeries,
              Septoplasty, turbinoplasty, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FESS,
              Adenotonsillectomy, Myrigotomy, Grommet Insertion
              Endonasal Dacryocystorhinostomy                 
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Micro laryngeal surgeries for vocal Polyps, nodules, Vocal cord lesions 
              Stapes sugeries, 
              Keloid &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Excision, Z plasty
              Biopsies of benign and Malignant tumours
              Modified Young’s surgery
              Pre- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;auricular sinus Excision
              Lymphnode, dermoid, Lipoma Excisions
              Esophageal Foreign body &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;removal
            </p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Advanced Surgeries:
              Endoscopic Juvenile Nasopharyngeal Angiofibroma excision,
              Transoral submandibular &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;gland Excision, 
              Thyroglossal cyst ( sistrunk’s operation )
              Oro Antral fistula repair
              Trans &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cervical Sub mandibular gland excision
              Epiglottic cyst excision
              Thyroid Excision &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Surgeries
              Facial Nerve Decompression
              Petrosectomy
              Orbital Decompression
              FESS for &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;fungal Sinusitis
              Rhinoplasty
              Glomus tumour
            </p>
            <p>Department is actively involved in conducting CME’s, Public Awareness Programs. Several Research projects are in Process from the Department of ENT. The department is continuously striving to provide Quality care to The IP’s with implementation of newer techniques and Procurement of latest equipment.</p>
              <br>
              <a class="main-button icon-button" href="/gallery?qtag=ENT">View our Gallery</a>
          </div>
          <!-- /blog post -->

          <!-- blog share -->
          <div class="blog-share">
            <h4>Share This Post:</h4>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
          </div>
          <!-- /blog share -->

          <!-- blog comments -->
          <!-- <div class="blog-comments">
						<h3>5 Comments</h3> -->

          <!-- single comment -->
          <!-- <div class="media">
							<div class="media-left">
								<img src="./img/avatar.png" alt="">
							</div>
							<div class="media-body">
								<h4 class="media-heading">John Doe</h4>
								<p>Cu his iudico appareat ullamcorper, at mea ignota nostrum. Nonumy argumentum id cum, eos adversarium
									contentiones id</p>
								<div class="date-reply"><span>Oct 18, 2017 - 4:00AM</span><a href="#" class="reply">Reply</a></div>
							</div> -->

          <!-- comment reply -->
          <!-- <div class="media">
								<div class="media-left">
									<img src="./img/avatar.png" alt="">
								</div>
								<div class="media-body">
									<h4 class="media-heading">John Doe</h4>
									<p>Cu his iudico appareat ullamcorper, at mea ignota nostrum. Nonumy argumentum id cum, eos adversarium
										contentiones id</p>
									<div class="date-reply"><span>Oct 18, 2017 - 4:00AM</span><a href="#" class="reply">Reply</a></div>
								</div>
							</div> -->
          <!-- /comment reply -->

          <!-- comment reply -->
          <!-- <div class="media">
								<div class="media-left">
									<img src="./img/avatar.png" alt="">
								</div>
								<div class="media-body">
									<h4 class="media-heading">John Doe</h4>
									<p>Cu his iudico appareat ullamcorper, at mea ignota nostrum. Nonumy argumentum id cum, eos adversarium
										contentiones id</p>
									<div class="date-reply"><span>Oct 18, 2017 - 4:00AM</span><a href="#" class="reply">Reply</a></div>
								</div>
							</div> -->
          <!-- /comment reply -->

          <!-- </div> -->
          <!-- /single comment -->

          <!-- single comment -->
          <!-- <div class="media">
							<div class="media-left">
								<img src="./img/avatar.png" alt="">
							</div>
							<div class="media-body">
								<h4 class="media-heading">John Doe</h4>
								<p>Cu his iudico appareat ullamcorper, at mea ignota nostrum. Nonumy argumentum id cum, eos adversarium
									contentiones id</p>
								<div class="date-reply"><span>Oct 18, 2017 - 4:00AM</span><a href="#" class="reply">Reply</a></div>
							</div>
						</div> -->
          <!-- /single comment -->

          <!-- blog reply form -->
          <!-- <div class="blog-reply-form">
							<h3>Leave Comment</h3>
							<form>
								<input class="input name-input" type="text" name="name" placeholder="Name">
								<input class="input email-input" type="email" name="email" placeholder="Email">
								<textarea class="input" name="message" placeholder="Enter your Message"></textarea>
								<button class="main-button icon-button">Submit</button>
							</form>
						</div> -->
          <!-- /blog reply form -->

          <!-- </div> -->
          <!-- /blog comments -->
        </div>
        <!-- /main blog -->

        <!-- aside blog -->
        <div id="aside" class="col-md-3">

          <!-- search widget -->
          <div class="widget search-widget">
            <form>
              <input class="input" type="text" name="search">
              <button><i class="fa fa-search"></i></button>
            </form>
          </div>
          <!-- /search widget -->

          <!-- category widget -->
          <div class="widget category-widget">
            <h3>Categories</h3>
            <a class="category" href="/hospital#scd">Secondary Specialty Departements<span>18</span></a>
            <a class="category" href="/hospital#sss">Super Specialty Services <span>6</span></a>
            <a class="category" href="/administration">Administration </a>
            <a class="category" href="/faculty">Faculty </a>
            <a class="category" href="/commities">Commities </a>
            <a class="category" href="/awards">Awards and Honors </a>
            <a class="category" href="/media">Press Media </a>
            <a class="category" href="/approval">University and Govt. Approval </a>
            <a class="category" href="/infrastructure">Infrastructure </a>

          </div>
          <!-- /category widget -->

          <!-- posts widget -->
          <div class="widget posts-widget">
            <!-- <h3>Recents Posts</h3> -->

            <!-- single posts -->
            <!-- <div class="single-post">
              <a class="single-post-img" href="blog-post.html">
                <img src="./img/post01.jpg" alt="">
              </a>
              <a href="blog-post.html">Pro eu error molestie deserunt.</a>
              <p><small>By : John Doe .18 Oct, 2017</small></p>
            </div> -->
            <!-- /single posts -->

            <!-- single posts -->
            <!-- <div class="single-post">
              <a class="single-post-img" href="blog-post.html">
                <img src="./img/post02.jpg" alt="">
              </a>
              <a href="blog-post.html">Pro eu error molestie deserunt.</a>
              <p><small>By : John Doe .18 Oct, 2017</small></p>
            </div> -->
            <!-- /single posts -->

            <!-- single posts -->
            <!-- <div class="single-post">
              <a class="single-post-img" href="blog-post.html">
                <img src="./img/post03.jpg" alt="">
              </a>
              <a href="blog-post.html">Pro eu error molestie deserunt.</a>
              <p><small>By : John Doe .18 Oct, 2017</small></p>
            </div> -->
            <!-- /single posts -->

          </div>
          <!-- /posts widget -->

          <!-- tags widget -->
          <div class="widget tags-widget">
            <h3>Tags</h3>
            <a class="tag" href="/hospital#scd">Secondary Specialty Departements</a>
            <a class="tag" href="/hospital#sss">Super Specialty Services</a>
            <a class="tag" href="/administration">Administration </a>
            <a class="tag" href="/faculty">Faculty </a>
            <a class="tag" href="/commities">Commities </a>
            <a class="tag" href="/awards">Awards and Honors </a>
            <a class="tag" href="/media">Press Media </a>
            <a class="tag" href="/approval">University and Govt. Approval </a>
            <a class="tag" href="/infrastructure">Infrastructure </a>
          </div>
          <!-- /tags widget -->

        </div>
        <!-- /aside blog -->

      </div>
      <!-- row -->

    </div>
    <!-- container -->

  </div>
  <!-- /Blog -->

  <!-- Footer -->
  <% include ../../partials/footer/footer.ejs %>
</body>

</html>