<!DOCTYPE html>
<html lang="en">

<head>
  <% var page = " Radiodiagnosis"%>
  <% include ../../partials/header/head.ejs %>
</head>

<body>

  <!-- Header -->
  <% include ../../partials/header/nav.ejs %>
  <!-- /Header -->

  <!-- Hero-area -->
  <div class="hero-area section">

    <!-- Backgound Image -->
    <div class="bg-image bg-parallax overlay" style="background-image:url(./img/Radiodiagnosis.jpg)"></div>
    <!-- /Backgound Image -->

    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
          <ul class="hero-area-tree">
            <li><a href="/">Home</a></li>
            <li><a href="/hospital">Hospital Services</a></li>
            <li><a href="/rdd">Radiodiagnosis</a></li>
            <!-- <li>General Surgery</li> -->
          </ul>
          <h1 class="white-text">Radiodiagnosis</h1>
          <ul class="blog-post-meta">
            <!-- <li class="blog-meta-author">By : <a href="#">John Doe</a></li>
						<li>18 Oct, 2017</li>
						<li class="blog-meta-comments"><a href="#"><i class="fa fa-comments"></i> 35</a></li> -->
          </ul>
        </div>
      </div>
    </div>

  </div>
  <!-- /Hero-area -->

  <!-- Blog -->
  <div id="blog" class="section">

    <!-- container -->
    <div class="container">

      <!-- row -->
      <div class="row">

        <!-- main blog -->
        <div id="main" class="col-md-9">

          <!-- blog post -->
          <div class="blog-post">
            <p>The Imaging Department at ESIC Medical College & Hospital is staffed by qualified Radiologists, trained to perform and interpret diagnostic and interventional procedures. The department provides a complete range of medical imaging procedures in general radiography and subspecialty areas. Our radiological technologists and radiologists use cutting-edge equipment that provides high-quality imaging procedures in a caring, professional, and compassionate manner. All of our staff are registered with the MCI and state medical and radiographers council. In addition, many have additional certifications in specialty areas. </p>
            <p>It is located in the Ground floor of Radiology block.</p>
            <p>The Imaging department provides the following services:</p>
            <ul>
              <li>Mammography: Mammograms are performed by dedicated Mammography technicians. ESIC provides a comprehensive approach for women with breast health needs, from comprehensive diagnostic services, to breast pain or malignancy, specialty consultations, and multidisciplinary treatment plans. The healthcare professionals at work collectively to offer preventative measures for their patients and have earned an outstanding reputation for its dedication in helping patients fight breast cancer on all fronts. High resolution ultrasound of breasts are performed for patients as part of the examination. High quality digital films for mammography are handed over to the patient with a detailed report.<br>Various treatments offered within the network are but not limited to:<br>

                  -Breast Ultrasounds<br>
                  -Breast MRI<br>
                  -Biopsies
              </li>
              <li>Computerized Axial Tomography (CAT scan): State of the art CT imaging can only be performed with high speed helical CAT scanner. The CT scan department is equipped with a state of Art INGENUITY ELITE 64 slice CT scanner from Philips. This CT scanner performs all CT scan procedure such as CT scan of head, neck, paranasal sinuses, chest, abdomen, pelvis and bones. As it is a very high end scanner, it is very good at performing angiography of any region of the body including head, neck, pulmonary, cardiac, aorta, renal, upper and lower limbs. The examinations can be tailored to each patient's specific individual needs allowing quicker more accurate diagnosis.</li>
              <li>Magnetic Resonance Imaging (MRI): MRI is one of the safest, most comfortable ways to obtain clear, detailed pictures of the inside of the human body. At ESI, we have the wide bore Philips 1.5 T Ingenia MRI machine. We are very sensitive to patient comfort as well as claustrophobic patients. The wide bore in the MRI helps us tremendously in allaying fear of patients. Also, the noise levels are very low, so as to make the patient comfortable. With a wide bore, we can scan patients lying on the side. The image quality is excellent with no compromise in the diagnosis. MRI is absolutely safe, there is no radiation nor any adverse effect on the human body. Occasionally patients may feel a bit warm during the scan in the region where the scan is being performed. Patients with pacemakers, metallic aortic valves, infusion pumps and cochlear and other orthopaedic implants should not undergo MRI studies. Please carry details of your implants and valves to know if it is safe.</li>
              <li>Ultrasound: We have 5 dedicated technologically advanced Sonography machines available. These High end ultrasound machines have excellent image quality and are equipped with modern applications like Harmonic Imaging and 3D imaging. The Sonography machines are equipped with a wide range of transducers so all types of Sonography examination can be performed. Routine, endocavitatory, high resolution, 3D and doppler’s of any vessel are done. Obstretic Ultrasound including special studies like TIFFA’s, Biophysical Profile and Dopplers are done. Portable Sonography is performed at the bedside for inpatients who cannot be transported to the imaging department. These patients also benefit from the high-resolution machines at the bedside. Thermal Printouts for sonographic images are given along with the report. <br>Ultrasound guided interventions including guided biopsies, fluid aspirations and abcess drainage are done.</li>
              <li>DEXA scan: We provide a dedicated bone density room to perform this examination in a comfortable private setting.</li>
              <li>X-ray Services:  Fixed high multifrequency x-ray machines with CR system &  DR systems are available. All forms of conventional X-Ray are taken; All contrast procedures such as barium swallow, meal, follow through, enema, Intravenous Urography, micturition cystography, retrograde urography, hysterosalpingography, sialography, fistulograms are performed.<br>Digital portable x-rays are performed at the bedside and in operation theaters. There are 4 portable x-ray machines, The Digit results in pristine image quality as well as considerable reduction in radiation exposure.<br>Note: X-ray machines emit Radiation. This radiation is extremely safe and no conclusive studies have proven harm to humans. Even then, we take extreme care. All our x-ray machines are low radiation output machines. </li>
            </ul>
              <br>
              <a class="main-button icon-button" href="/gallery?qtag=Radiodiagnosis">View our Gallery</a>
          </div>
          <!-- /blog post -->

          <!-- blog share -->
          <div class="blog-share">
            <h4>Share This Post:</h4>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
          </div>
          <!-- /blog share -->

          <!-- blog comments -->
          <!-- <div class="blog-comments">
						<h3>5 Comments</h3> -->

          <!-- single comment -->
          <!-- <div class="media">
							<div class="media-left">
								<img src="./img/avatar.png" alt="">
							</div>
							<div class="media-body">
								<h4 class="media-heading">John Doe</h4>
								<p>Cu his iudico appareat ullamcorper, at mea ignota nostrum. Nonumy argumentum id cum, eos adversarium
									contentiones id</p>
								<div class="date-reply"><span>Oct 18, 2017 - 4:00AM</span><a href="#" class="reply">Reply</a></div>
							</div> -->

          <!-- comment reply -->
          <!-- <div class="media">
								<div class="media-left">
									<img src="./img/avatar.png" alt="">
								</div>
								<div class="media-body">
									<h4 class="media-heading">John Doe</h4>
									<p>Cu his iudico appareat ullamcorper, at mea ignota nostrum. Nonumy argumentum id cum, eos adversarium
										contentiones id</p>
									<div class="date-reply"><span>Oct 18, 2017 - 4:00AM</span><a href="#" class="reply">Reply</a></div>
								</div>
							</div> -->
          <!-- /comment reply -->

          <!-- comment reply -->
          <!-- <div class="media">
								<div class="media-left">
									<img src="./img/avatar.png" alt="">
								</div>
								<div class="media-body">
									<h4 class="media-heading">John Doe</h4>
									<p>Cu his iudico appareat ullamcorper, at mea ignota nostrum. Nonumy argumentum id cum, eos adversarium
										contentiones id</p>
									<div class="date-reply"><span>Oct 18, 2017 - 4:00AM</span><a href="#" class="reply">Reply</a></div>
								</div>
							</div> -->
          <!-- /comment reply -->

          <!-- </div> -->
          <!-- /single comment -->

          <!-- single comment -->
          <!-- <div class="media">
							<div class="media-left">
								<img src="./img/avatar.png" alt="">
							</div>
							<div class="media-body">
								<h4 class="media-heading">John Doe</h4>
								<p>Cu his iudico appareat ullamcorper, at mea ignota nostrum. Nonumy argumentum id cum, eos adversarium
									contentiones id</p>
								<div class="date-reply"><span>Oct 18, 2017 - 4:00AM</span><a href="#" class="reply">Reply</a></div>
							</div>
						</div> -->
          <!-- /single comment -->

          <!-- blog reply form -->
          <!-- <div class="blog-reply-form">
							<h3>Leave Comment</h3>
							<form>
								<input class="input name-input" type="text" name="name" placeholder="Name">
								<input class="input email-input" type="email" name="email" placeholder="Email">
								<textarea class="input" name="message" placeholder="Enter your Message"></textarea>
								<button class="main-button icon-button">Submit</button>
							</form>
						</div> -->
          <!-- /blog reply form -->

          <!-- </div> -->
          <!-- /blog comments -->
        </div>
        <!-- /main blog -->

        <!-- aside blog -->
        <% include ../../partials/tags-services %>
        <!-- /aside blog -->

      </div>
      <!-- row -->

    </div>
    <!-- container -->

  </div>
  <!-- /Blog -->

  <!-- Footer -->
  <% include ../../partials/footer/footer.ejs %>
</body>

</html>