<div class="tag-widgets">


    <div id="aside" class="col-md-3">

        <!-- search widget -->
        <div class="widget search-widget">
            <form autocomplete="off" action="/action_page.php">
                <div class="autocomplete" style="width:270px;">
                    <input id="myinput" type="text" name="mycountry">
                </div>
                <button><i class="fa fa-search"></i></button>

        </div>
        <% include ../partials/tags-cat-all %>
        <% include ../partials/tags-all %>
    </div>

</div>