<style>
    @media only screen and (max-width: 700px) {
        .tag-widgets {
            display: none !important;
        }
    }
</style>


<div class="tag-widgets">


    <div id="aside" class="col-md-3">

        <!-- search widget -->
        <div class="widget search-widget">
            <form autocomplete="off" action="/action_page.php">
                <div class="autocomplete" style="width:270px;">
                    <input id="myinput" type="text" name="mycountry">
                </div>
                <button><i class="fa fa-search"></i></button>

        </div>


        <div class="widget category-widget">
            <h3>Categories</h3>
            <a class="category" href="#">Web <span>12</span></a>
            <a class="category" href="#">Css <span>5</span></a>
            <a class="category" href="#">Wordpress <span>24</span></a>
            <a class="category" href="#">Html <span>78</span></a>
            <a class="category" href="#">Business <span>36</span></a>
        </div>

        <div class="widget posts-widget">
            <h3>Recents Posts</h3>

            <div class="single-post">
                <a class="single-post-img" href="blog-post.html">
                    <img src="./img/post01.jpg" alt="">
                </a>
                <a href="blog-post.html">Pro eu error molestie deserunt.</a>
                <p><small>By : John Doe .18 Oct, 2017</small></p>
            </div>

            <div class="single-post">
                <a class="single-post-img" href="blog-post.html">
                    <img src="./img/post02.jpg" alt="">
                </a>
                <a href="blog-post.html">Pro eu error molestie deserunt.</a>
                <p><small>By : John Doe .18 Oct, 2017</small></p>
            </div>

            <div class="single-post">
                <a class="single-post-img" href="blog-post.html">
                    <img src="./img/post03.jpg" alt="">
                </a>
                <a href="blog-post.html">Pro eu error molestie deserunt.</a>
                <p><small>By : John Doe .18 Oct, 2017</small></p>
            </div>


        </div>



    </div>

</div>

<!-- tags widget -->
<!--<div class="widget tags-widget">
						<h3>Tags</h3>
						<a class="tag" href="#">Web</a>
						<a class="tag" href="#">Photography</a>
						<a class="tag" href="#">Css</a>
						<a class="tag" href="#">Responsive</a>
						<a class="tag" href="#">Wordpress</a>
						<a class="tag" href="#">Html</a>
						<a class="tag" href="#">Website</a>
						<a class="tag" href="#">Business</a>
					</div>-->
<!-- /tags widget -->