<div id="aside" class="col-md-3">
    <div class="widget search-widget">
        <form>
            <input class="input" type="text" name="search">
            <button><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="widget category-widget">
        <h3>Categories</h3>
        <!-- <a class="category" href="/course">Course
            <span>18</span>
    </a> -->
        <a class="category" href="/Research.docs">Research and Development</a>
        <a class="category" href="/Publication.docs">Publications</a>
        <a class="category" href="/ResearchProg.docs">Organised Research Program</a>
    </div>
    <div class="widget tags-widget">
        <h3>Tags</h3>
        <a class="tag" href="#scd">Care Departements</a>
        <a class="tag" href="#sss">Super Specialty Services</a>
    </div>
</div>