<div id="aside" class="col-md-3">
    <div class="widget search-widget">
        <form>
            <input class="input" type="text" name="search">
            <button><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="widget category-widget">
        <h3>Categories</h3>
        <a class="category" href="/CitizenCharter.docs">Citizen Charter</a>
        <a class="category" href="/BodyDonation.docs">Body Donation</a>
        <a class="category" href="/RulesRegulation.docs">Rules and Regulation</a>
        <a class="category" href="/RTI.docs">RTI</a>
        <a class="category" href="/BioWasteManagement.docs">Bio Waste Management</a>
        <a class="category" href="/gallery">Gallery</a>
    </div>
    <% include ../partials/tags-all %>
</div>