<div id="aside" class="col-md-3">

    <!-- search widget -->
    <div class="widget search-widget">
      <form>
        <input class="input" type="text" name="search">
        <button><i class="fa fa-search"></i></button>
      </form>
    </div>
    <div class="widget category-widget">
      <h3>Categories</h3>
      <a class="category" href="/Administration.docs">Administration </a>
      <a class="category" href="/faculty">Faculty </a>
      <a class="category" href="/commities">Commities </a>
      <a class="category" href="/Awards.docs">Awards and Honors </a>
      <a class="category" href="/PressMedia.docs">Press Media </a>
      <a class="category" href="/University.docs">University and Govt. Approval </a>
      <a class="category" href="/Infrastructure.docs">Infrastructure </a>
      <a class="category" href="/AnnualReport.docs">Annual Report </a>
    </div>
    <% include ../partials/tags-all %>
  
  </div>