<!DOCTYPE html>
<html lang="en">

<head>
  <% var page = "Education"%>
  <% include ../partials/header/head.ejs %>
  <link rel="stylesheet" href="/css/education.css">

  <link href="https://fonts.googleapis.com/css?family=Puritan:400i" rel="stylesheet">
</head>

<body>
  <!--scroll icon -->
  <% include ../partials/footer/scroll.ejs %>
  <!-- /scroll icons -->



  <% include ../partials/header/nav.ejs %>

  <!-- Hero-area -->
  <div class="hero-area section">

    <!-- Backgound Image -->
    <div class="bg-image bg-parallax overlay" style="background-image:url(./img/page-background.jpg)"></div>
    <!-- /Backgound Image -->

    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
          <ul class="hero-area-tree">
            <li><a href="/">Home</a></li>
            <li>Career and Education</li>
          </ul>
          <h1 class="white-text">Career and Education</h1>

        </div>
      </div>
    </div>

  </div>
  <!-- /Hero-area -->

  <!-- Blog -->
  <div id="blog" class="section">

    <!-- container -->
    <div class="container">

      <!-- row -->
      <div class="row">

        <!-- main blog -->
        <div id="main" class="col-md-9">

          <!-- row -->
          <div class="row">

            <div class="col-md-12">
              <!-- <h2>Hospital Services</h2>
                <hr> -->



              <!-- ==================================================================== -->
              <h2 id="scd" class="section-header">Education:</h2>
              <hr>
              <!-- <div class="pill-single">
                <span class="tb">>> </span>
                <a href="/course">Course</a>
              </div> -->
              <div class="pill-single">
                <span class="tb">>> </span>
                <a href="/Admission.docs">Admission</a>
              </div>

              <div class="pill-single">
                <span class="tb">>> </span>
                <a href="/student_zone">Student Zone</a>
              </div>
              <div class="pill-single">
                <span class="tb">>> </span>
                <a href="/Conference.docs">Conference/CME</a>
              </div>
              <!-- <div class="pill-single">
                <span class="tb">>> </span>
                <a href="/Events.docs">Upcoming Events</a>
              </div> -->
              <div class="pill-single">
                <span class="tb">>> </span>
                <a href="/Training.docs">Training</a>
              </div>
              <div class="pill-single">
                <span class="tb">>> </span>
                <a href="/JournalESI.docs">Journal Esi</a>
              </div>
              <br>

              <h2 id="rctz" class="section-header">Recruitment:</h2>
              <hr>
              <div class="pill-single">
                <span class="tb">>> </span>
                <a href="/RecruitAdv.docs">Advertising of Recruitment</a>
              </div>
              <div class="pill-single">
                <span class="tb">>> </span>
                <a href="/listOfCandidate">List of Candidate</a>
              </div>
              <div class="pill-single">
                <span class="tb">>> </span>
                <a href="/RecruitRes.docs">Results of Recrutement</a>
              </div>
              <br>
              <!-- ==================================================================== -->
              <!-- <h2 id="sss" class="section-header">Header2</h2>
              <hr>
              <div class="pill-single">
                <span class="tb">>> </span>
                <a href="#">Name:sample</a>
              </div>-->
              <!-- ==================================================================== -->

              <!-- <span class="tb"></span> -->
            </div>

          </div>
          <!-- /row -->

          <!-- row -->
          <div class="row">

            <!-- pagination -->
            <div class="col-md-12">
              <!-- <div class="post-pagination">
                <a href="#" class="pagination-back pull-left">Back</a>
                <ul class="pages">
                  <li class="active">1</li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                </ul>
                <a href="#" class="pagination-next pull-right">Next</a>
              </div> -->
            </div>
            <!-- pagination -->

          </div>
          <!-- /row -->
        </div>
        <!-- /main blog -->

        <!-- aside blog -->
        <% include ../partials/tags-education %>
        <!-- /aside blog -->

      </div>
      <!-- row -->

    </div>
    <!-- container -->

  </div>
  <!-- /Blog -->

  <!-- Footer -->

  <% include ../partials/footer/footer.ejs %>

</body>

</html>