<!DOCTYPE html>
<html lang="en">

<head>
  <% var page = "Faculty Attendance"%>
  <% include ../partials/header/head.ejs %>
  <link rel="stylesheet" href="/css/education.css">

  <link href="https://fonts.googleapis.com/css?family=Puritan:400i" rel="stylesheet">
  <style>
  .iframeAebas{
    max-width: 1500px;
  }

  .w-100{
    width:100%;
  }
  </style>
</head>

<body>
  <!--scroll icon -->
  <% include ../partials/footer/scroll.ejs %>
  <!-- /scroll icons -->



  <% include ../partials/header/nav.ejs %>

  <!-- Hero-area -->
  <div class="hero-area section">

    <!-- Backgound Image -->
    <div class="bg-image bg-parallax overlay" style="background-image:url(./img/facultyatts.jpg)"></div>
    <!-- /Backgound Image -->

    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
          <ul class="hero-area-tree">
            <li><a href="/">Home</a></li>
            <li>Faculty Attendance</li>
          </ul>
          <h1 class="white-text">Faculty Attendance</h1>

        </div>
      </div>
    </div>

  </div>
  <!-- /Hero-area -->

  <!-- Blog -->
  <div id="blog" class="section">

    <!-- container -->
    <div class="container">

      <!-- row -->
      <div class="row">

        <!-- main blog -->
        <div id="main" class="col-md-12">

          <!-- row -->
          <div class="row">
            <div class="col-md-12">
              <iframe height="800px" class="w-100 iframeAebas"  src="http://esicmchyb.attendance.gov.in/submis/regemp"
                sandbox="allow-same-origin allow-scripts allow-forms allow-pointer-lock allow-popups ">
                <p>Your browser does not support iframes.</p>
              </iframe>
            </div>
          </div>
          <!-- row -->

        </div>
        <!-- container -->

      </div>
      <!-- /Blog -->

      <!-- Footer -->

      <% include ../partials/footer/footer.ejs %>

</body>

</html>