<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>ESIC Hyderabad</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Lato:700%7CMontserrat:400,600" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="css/font-awesome.min.css">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="css/style.css" />


	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">

	<link rel="stylesheet" type="text/css" href="css/util.css">

	<link rel="stylesheet" type="text/css" href="css/table_util.css">
	<link rel="stylesheet" type="text/css" href="css/table_main.css">
	<!-- <link href="css/plugins.css" rel="stylesheet">
	<link href=" /css/responsive.css" rel="stylesheet"> -->
	<!-- <script src=" /js/vendor/modernizr-2.8.3.min.js"></script> -->
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link rel="stylesheet" type="text/css" href="css/footer.css">
	<link rel="stylesheet" href="css/image-grid.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
	 crossorigin="anonymous">
	<style>
		.center-text {
			text-align: center;
		}

		.gallery-hidden {
			display: none;
		}


		/* .width-auto {
			width: 100%;
			height: auto;
		} */

		/* .course-img {
			vertical-align: middle;
			text-align: center;
			overflow: hidden;
			max-width: 260px;
			max-height: 260px;
			width: 100%;
			height: auto;
		} */

		/* .img-fluid-gallery {
			max-height: 100%;
			max-width: 100%;
			width: auto;
			height: auto;
			vertical-align: middle;
		} */
	</style>


</head>

<body>
	<!--scroll icon -->
	<% include ../partials/footer/scroll.ejs %>
	<!-- /scroll icons -->
	<!--<div class="preeloader" style="display: none;">
		  <div class="preloader-spinner"></div>
		</div>>
	<a href="#scroolup" class="scrolltotop" style="bottom:20px; display:block;">
	<i class="fa fa-long-arrow-up">
		::before
	</i>
	</a>-->
	<!-- Header -->
	<header id="header" class="transparent-nav">
		<div class="container">

			<div class="navbar-header">
				<!-- Logo -->
				<div class="navbar-brand">
					<a class="logo" href="/">
						<img src="./img/logo/web.png" alt="logo" style="text-color:white">
						<!--<h6 class=white-text> ESIC</h6>-->
					</a>
				</div>
				<!-- /Logo -->

				<!-- Mobile toggle -->
				<button class="navbar-toggle">
					<span></span>
				</button>
				<!-- /Mobile toggle -->
			</div>

			<!-- Navigation -->
			<nav id="nav">
				<ul class="main-menu nav navbar-nav navbar-right">
					<li><a class="anim" href="/">Home</a></li>
					<li>
						<a class="dropbtn anim" href="/about">About</a>
						<div class="dropdown">
							<div class="dropdown-content">
								<a href="/Administrations.docs">Administration</a>
								<a href="#">Faculty</a>
								<a href="#">Commities</a>
								<a href="/Awards.docs">Awards and honors</a>
								<a href="/PressMedia.docs">Press media</a>
								<a href="/University.docs">University and Govt.</a>
								<a href="/Infrastrutcure.docs">Infrastructure</a>
							</div>
						</div>
					</li>
					<li>
						<a class="dropbtn anim" href="/hospital">Services</a>
						<div class="dropdown">
							<div class="dropdown-content">
								<a href="/hospital#scd">Speciality Departments</a>
								<a href="/hospital#sss">Services</a>
							</div>
						</div>
					</li>
					<li>
						<a class="dropbtn anim" href="/education">Education</a>
						<div class="dropdown">
							<div class="dropdown-content">
								<a href="/course">Course</a>
								<a href="/Admission.docs">Admission</a>
								<a href="/StudentZone.docs">Student Zone </a>
								<a href="/Conference.docs">Conference/CME</a>
								<a href="/Events.docs">Upcoming Event</a>
								<!-- <a href="">Commitee</a> -->
								<a href="/Training.docs">Training</a>
								<a href="/JournalESI.docs">Journal</a>
							</div>
						</div>
					</li>
					<li>
						<a class="dropbtn anim" href="/Research.docs">Research</a>
						<div class="dropdown">
							<div class="dropdown-content">
								<a href="/Publication.docs">Publication</a>
								<!-- <a href=""></a>
							<a href=""></a>
							<a href=""></a>
							<a href=""></a>
							<a href=""></a>
							<a href=""></a>
							<a href=""></a> -->
							</div>
						</div>
					</li>
					<li>
						<a class="dropbtn anim" href="/">Public Forum</a>
						<div class="dropdown">
							<div class="dropdown-content">
								<a href="/CitizenCharter.docs">Citizen Charter</a>
								<a href="/BodyDonation.docs">Body Donation</a>
								<a href="/RulesRegulation.docs">Rules and Regulation</a>
								<a href="/BioWasteManagement.docs">Rti</a>
								<a href="/BioWasteManagement.docs">Bio Waste Management</a>
								<a href="/gallery">Gallery</a>
							</div>
						</div>
					</li>
					<li><a class="anim" href="/contact">Contact</a></li>
				</ul>
			</nav>
			<!-- /Navigation -->

		</div>
	</header>
	<!-- /Header -->

	<!-- Home -->
	<div id="home" class="hero-area">

		<!-- Backgound Image -->
		<div class="bg-image bg-parallax overlay" style="background-image:url(./img/header-background.jpg)"></div>
		<!-- /Backgound Image -->

		<div class="home-wrapper" stylex="background:blue;">
			<div class="container" stylex="background:green;">
				<div class="row" stylex="background:red;">

					<div class="col-md-6 welcome-area" stylex="background:yellow;">
						<h1 class="white-text">Always ESIC because Life matters
						</h1><br>
						<!-- <p class="lead white-text">Libris vivendo eloquentiam ex ius, nec id splendide abhorreant, eu pro alii error
							homero.</p> -->
						<a class="main-button icon-button" href="/about">About Us!</a>
					</div>

					<div class="col-md-6 notif-area">
						<div class="notif-container js-pscroll">
							<div class="notif-scroll-container">
								<div class="row">
									<div class="col-xs-12 text-center">
										<br>
										<br>
										<br>
										Notifications and alerts are currently not avaible! Please try again in a little bit.
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- /Home -->

	<!-- About -->
	<div id="about" class="section">

		<!-- container -->
		<div class="container">

			<!-- row -->
			<div class="row">

				<div class="col-md-12 p-b-80">
					<div class="row">


						<div class="col-md-6">
							<h3>Dean's message</h3>
							<p class="lead">Education is the foundation upon which we build our future.</p>
							<p>Better education is very necessary for all to go ahead in the life and get success. It develops confidence
								and helps building personality of a person. Primary education prepares the base which helps throughout the
								life, secondary education prepares the path for further study and higher secondary education prepares the
								ultimate path of the future and whole life. Our good or bad education decides that which type of person we
								would be in the future.</p>
						</div>

						<div class="col-md-5 col-md-offset-1">
							<iframe src="https://www.youtube.com/embed/s-LW5EXcKiI" class="about-video-dean" frameborder="0" allowfullscreen></iframe>
							<!-- <a class="about-video" href="#">
							<img src="./img/about-video.jpg" alt="">
							<i class="play-icon fa fa-play"></i>
						</a> -->
						</div>

					</div>
				</div>
				<!-- <div class="col-md-12">
					<div class="section-header" id="about-us">
						<br><br>
						<h2>Notification</h2>

						<br>

						<div class="table100 ver1 m-b-110">
							<div class="table100-head">
								<table>
									<thead>
										<tr class="row100 head">
											<th class="cell100 column1">Date</th>
											<th class="cell100 column2">Notif msg</th>
											<th class="cell100 column3">Link</th>
										</tr>
									</thead>
								</table>
							</div>

							<div class="table100-body js-pscroll">
								<table id="table-notif-content">
									<tbody>

									</tbody>
								</table>
							</div>
						</div>

					</div>
				</div> -->
			</div>

		</div>
	</div>
	
	<div id="cta" class="section">
		<div class="bg-image bg-parallax overlay" style="background-image:url(./img/cta2-background.jpg)"></div>
		<section class="fun-fact-area center white relative padding-100-70" id="fact">
			<div class="area-bg" data-stellar-background-ratio="0.6"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="single-fun-fact mb30 wow fadeInUp" data-wow-delay="0.1s">	
							<h1 class="white-text"><span class="counter numscroller" data-min='0' data-max='20000' data-delay='5' data-increment='50'>20000</span></h1>
							<h5 class="white-text">Patients Treated</h5>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="single-fun-fact mb30 wow fadeInUp" data-wow-delay="0.2s">
							<h1 class="white-text"><span class="counter numscroller" data-min='0' data-max='530' data-delay='5' data-increment='3'>530</span></h1>
							<h5 class="white-text">Doctors available</h5>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="single-fun-fact mb30 wow fadeInUp" data-wow-delay="0.3s">
							<h1 class="white-text"><span class="counter numscroller" data-min='0' data-max='60' data-delay='5' data-increment='2'>60</span></h1>
							<h5 class="white-text">Facilities Provided</h5>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="single-fun-fact mb30 wow fadeInUp" data-wow-delay="0.4s">
							<h1 class="white-text"><span class="counter numscroller" data-min='0' data-max='15000' data-delay='5' data-increment='35'>15000</span></h1>
							<h5 class="white-text">Students Enrollments</h5>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div id="courses" class="section">
		<div class="container">
			<div class="row">
				<div class="section-header text-center">
					<h2>Explore Our Gallery</h2>
					<!-- <p class="lead">Libris vivendo eloquentiam ex ius, nec id splendide abhorreant.</p> -->
				</div>
			</div>
			<div class="grid gallery-index row">
				<div class="col-lg-12">

				</div>
			</div>


		</div>
		<div class="row">
			<div class="center-btn">
				<a class="main-button icon-button" href="/gallery">View More</a>
			</div>
		</div>
	</div>
	</div>

	<div id="contact-cta" class="section">
		<div class="bg-image bg-parallax overlay" style="background-image:url(./img/cta2-background.jpg)"></div>

		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<h2 class="white-text">Contact Us</h2>
					<p class="lead white-text">If you have any queries, feedback or suggestions then feel free to share them with us.</p>
					<a class="main-button icon-button" href="#">Contact Us Now</a>
				</div>
			</div>
		</div>
	</div>

	<% include ../partials/footer/footer_index.ejs %>
	
	<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
	<script src="js/notification.js"></script>
	<script src="js/imageIndex.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.numscroller-1.0.js"></script>


	<script>
		var link = <%- JSON.stringify(link) %>;
		initNotif(link);			
		initTemplate(link);
	</script>

	
</body>

</html>