<header id="header">
  <div class="container">

    <div class="navbar-header">
      <!-- Logo -->
      <div class="navbar-brand">
        <a class="logo" href="/">
          <img src="./img/logo/web.png" alt="ESIC">ESIC
        </a>
      </div>
      <!-- /Logo -->

      <!-- Mobile toggle -->
      <button class="navbar-toggle">
        <span></span>
      </button>
      <!-- /Mobile toggle -->
    </div>

    <!-- Navigation -->
    <nav id="nav">
      <ul class="main-menu nav navbar-nav navbar-right">
        <li><a class="anim" href="/">Home</a></li>
        <li>
          <a class="dropbtn anim" href="/about">About</a>
          <div class="dropdown">
            <div class="dropdown-content">
              <a href="#">Admission</a>
              <a href="#">Faculty</a>
              <a href="#">Commities</a>
              <a href="#">Awards and honors</a>
              <a href="#">Press media</a>
              <a href="#">University and Govt.</a>
              <a href="#">Infrastructure</a>
            </div>
          </div>
        </li>
        <li>
          <a class="dropbtn anim" href="/hospital">Services</a>
          <div class="dropdown">
            <div class="dropdown-content">
              <a href="/hospital#scd">Speciality Departments</a>
              <a href="/hospital#sss">Services</a>
            </div>
          </div>
        </li>
        <li>
          <a class="dropbtn anim" href="/education">Education</a>
          <div class="dropdown">
            <div class="dropdown-content">
              <a href="/course">Course</a>
              <a href="/admission">Admission</a>
              <a href="/student_zone">Student Zone </a>
              <a href="/conference">Conference/CME</a>
              <a href="/upcoming_event">Upcoming Event</a>
              <!-- <a href="">Commitee</a> -->
              <a href="/training">Training</a>
              <a href="/journal_esi">Journal</a>
            </div>
          </div>
        </li>
        <li>
          <a class="dropbtn anim" href="/">Research</a>
          <div class="dropdown">
            <!-- <div class="dropdown-content">
              <a href=""></a>
              <a href=""></a>
              <a href=""></a>
              <a href=""></a>
              <a href=""></a>
              <a href=""></a>
              <a href=""></a>
              <a href=""></a>
            </div> -->
          </div>
        </li>
        <li>
          <a class="dropbtn anim" href="/">Public Form</a>
          <div class="dropdown">
            <div class="dropdown-content">
              <a href="#">Citizen Charter</a>
              <a href="#">Body Donation</a>
              <a href="#">Rules and Regulation</a>
              <a href="#">Rti</a>
              <a href="#">Gallery</a>
            </div>
          </div>
        </li>
        <li><a class="anim" href="/contact">Contact</a></li>
      </ul>
    </nav>
    <!-- /Navigation -->
  </div>
</header>


<!-- <li class="nav-item">
    <div class="dropdown">
      <button class="dropbtn">Master Management 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/category/register">Category</a>
        <a href="#">Status</a>
        <a href="/company/register">Company</a>
        <a href="/department/register">Department</a>
        <a href="/hospital/register">Hospital</a>
        <a href="#">Employee</a>
        <a href="#">Relationship</a>
        <a href="#">Unit</a>
      </div>
    </div>
    </li> -->

<!-- <li>
    <div class="dropdown">
      <a class="dropbtn">Master Management
        <i class="fa fa-caret-down"></i>
      </a>
      <div class="dropdown-content">
        <a href="/category/register">Category</a>
        <a href="#">Status</a>
        <a href="/company/register">Company</a>
        <a href="/department/register">Department</a>
        <a href="/hospital/register">Hospital</a>
        <a href="#">Employee</a>
        <a href="#">Relationship</a>
        <a href="#">Unit</a>
      </div>
    </div>
  </li> -->

<style>
  .dropdown {
    float: left;
    overflow: vi;
  }

  .dropdown .dropbtn {
    /* font-size: 12px;
      font-weight: 800;
      letter-spacing: 1px;
      text-transform: uppercase;    
      border: none;
      outline: none;
      color: white;
      padding: 8px 10px;
      background-color: inherit;
      font-family: inherit;
      margin: 0; */
  }

  .dropbtn:focus,
  .dropbtn:hover {
    /* color:rgba(255, 255, 255, 0.8); */
  }

  li .dropdown-content {
    display: none;
    position: absolute;
    background: white;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 15px;
  }


  li:hover .dropdown-content {
    /* background-color: rgb(206, 26, 26); */

  }

  @media only screen and (min-width: 600px) {
    li:hover .dropdown-content {
      display: block;
    }

    li:hover .dropdown-content a:hover {
      background-color: #8a251e !important;
      border: 0px !important;
      color: white !important;
      /* text-s */
      -webkit-box-shadow: 0 0 10px rgb(0, 0, 0);
      -moz-box-shadow: 0 0 10px rgb(0, 0, 0);

      -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
      transform: translateY(5px);
      opacity: 1;
      -webkit-transition: 0.2s all;
      transition: 0.2s all;
    }


  }
</style>